{% set language = ezpublish.siteaccess.name == "site_fr" ? "eng-GB": "fre-FR" %}
{% set language_name = ezpublish.siteaccess.name == "site_fr" ? "anglaise": "française" %}
<td>
    <a href="{{ path('ez_urlalias', {'contentId': content.id}) }}">
        {{ ez_content_name( content ) }}
    </a>
</td>
<td>{{ ez_render_field( content, "ingredients" ) }}</td>
<td>
    {{ ez_render_field( content, "contenu" ) }}
    <br>
    {% if language in content.versionInfo.languageCodes %}
        <a href="{{ url( ez_route( 'ez_urlalias', {"language": "fre-FR", 'contentId': content.id} ) ) }}">{{ ez_content_name( content ) }}</a>
    {% endif %}
</td>
<td>{{ ez_render_field( content, "temps_preparation" ) }}</td>
<td>{{ ez_render_field( content, "temps_cuisson" ) }}</td>
<td>{{ ez_render_field( content, "image", { 'parameters':{ 'alias': 'medium'} } ) }}</td>
