<h1>Dernières recettes <small>{{ recettes|length }} résultats</small></h1>
<table class="table">
    <thead>
    <tr>
        <th>{{ ez_field_name(recettes|last, 'titre') }}</th>
        <th>{{ ez_field_name(recettes|last, 'ingredients') }}</th>
        <th>{{ ez_field_name(recettes|last, 'contenu') }}</th>
        <th>{{ ez_field_name(recettes|last, 'temps_preparation') }}</th>
        <th>{{ ez_field_name(recettes|last, 'temps_cuisson') }}</th>
        <th>{{ ez_field_name(recettes|last, 'image') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for recette in recettes %}
        <tr>
            {% include "BeCloodTopRecettesBundle:table:recette.html.twig" with
            {'content': recette, 'siteaccess': siteaccess, 'email': true } %}
        </tr>
    {% endfor %}
    </tbody>
</table>